<div class="container mt-10rem">
<h1 class="text-center"><%= current_user.first_name + " " +current_user.last_name %> </h1>
  <div class="row mt-5">
    <div class="col-md-4 text-center"> 
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: <%=current_user.email %> </li>
          <li class="list-group-item">Description: <%=current_user.description %></li>
        </ul>
      </div>
      <p><%= link_to "Editer votre profil", new_event_path, class: "btn btn-primary" %></p>
    </div>

    <div class="col-md-8 text-center"> 
        <% if current_user.administrated_events.count == 0 %> 
          Tu n'as pas encore crée d'événements 
        <% else %>
          Tu as crée : <%= current_user.administrated_events.count %> événements </p> 
          <% current_user.administrated_events.each do |e| %>
            <p> Liste des événements :  <%= link_to e.title, event_path(e.id) %></p>
          <% end %> 
        <% end %> 
      <p><%= link_to "Créer un évènement", new_event_path, class: "btn btn-primary" %></> 
    </div>     
  </div>     
</div>

