<div class="container mt-10rem">
<h1 class= 'text-center'> <%= current_user.last_name %> </h1>
  <div class="row mt-5">
    <div class="col-md-4"> 
      <div class="card" style="width: 25rem;">
        <ul class="list-group list-group-flush" style='font-size: 15px;'>
          <li class="list-group-item">Email: <%=current_user.email %> </li>
          <li class="list-group-item">Description: <%=current_user.description %></li>
        </ul>
      </div>
      <p style='margin-top: 6px; margin-left: 80px;'><%= link_to "Editer votre profil", new_event_path, class: "btn btn-primary" %></p>
    </div>

    <div class="col-md-8"> 
      <div class="card" style="width: 30rem; margin-left: 200px;">
        <ul class="list-group list-group-flush"  style='font-size: 15px;'>
          <li class="list-group-item">
            <% if current_user.events.count == 0 %> 
              Tu n'as pas encore crée d'événements 
            <% else %>
              Tu as crée : <%= current_user.events.count %> événements </p> 
              <% current_user.administrated_events.each do |e| %>
                <p> Liste des événements :  <%= e.title %> <%= link_to "L'événement", event_path(e.id) %></p>
              <% end %> 
            <% end %> 
          </li>
        </ul>
    </div>
      <p style='margin-top: 6px; margin-left: 310px; font-size: 15px;'><%= link_to "Créer un évènement", new_event_path, class: "btn btn-primary" %></p> 
    </div>     
  </div>     
</div>

